.OrgChartLinks {
	fill: none;
	stroke: var(--clrOrgNode);
	stroke-width: 2px;	
}

.OrgChartUserLinks {
	fill: none;
	stroke: var(--clrSelectedLink);
	stroke-width: 2px;	
}

.HistoryLinks {
	fill: none;
	stroke: var(--clrHistory);
	stroke-width: 2px;	
}

.ArrowMarkerHead{
	fill: var(--clrHistory)
}

.OrgChartNode {
	cursor: pointer;	
}

.OrgChartNode .NormalNode{
	stroke: var(--clrOrgNode);
	stroke-width: 3px;
}

.OrgChartNode .NoChildren{
	fill: white
}

.OrgChartNode .HasChildren{
	fill: var(--clrOrgNode)
}

.OrgChartNode .History{
	stroke: var(--clrHistory)
}

.OrgChartNode .SelectedNode{
	fill: none;
	stroke: var(--clrSelectedNode);
	stroke-width: 3px;
}

.OrgChartNode .FilterMatchNode{
	fill: none;
	stroke: var(--clrFilteredNode);
	stroke-width: 3px;
}

.OrgChartNode text{
	font: 12px sans-serif;
}

.GlobalFilter {
	float: left;
    position: absolute;
    z-index: 200;
    background-color: white;
    overflow-x: hidden;
	font: 12px sans-serif;
}

#idGlobalFilters {
	padding: 20px 0 0 0;
}

#GlobalFilterButton {
	transition: 1s;
}