.DemandDupBarsTarget {
    fill: var(--clrSelectedNode);
    opacity: 0.75;
}
.DemandDupBarsSource {
    fill: var(--clrGenericNode);
    opacity: 0.75;
}

.DemandDupBarsTitles {
	font-weight: bold;
}
