:root {
	--iMargin: 5px;
	--iPadding: 5px;
	--iBorder: 2px;
	
	--clrNavBar: #607D8B;
	--clrMenuDropdown: #F9F9F9;

	--clrOutline: #D3D3D3;

	--clrGenericNode: #2d80b2;
	--clrSelectedNode: #fb6542;
	
	--clrGenericLink: #D3D3D3;
	--clrUniqueLink: #626d71;
	--clrSelectedLink: #B3CDE3;
	
	--clrOrgNode: #D3D3D3;
	--clrHistory: #FBB4AE;
	
	--clrFilteredNode: #e97d25;
}
