:root {
	--iMargin: 5px;
	--iPadding: 5px;
	--iBorder: 2px;
	--clrOutline: #D3D3D3;
	--clrNavBar: #607D8B;
	--clrMenuDropdown: #F9F9F9;
	--clrGenericNode: rgb(204, 235, 197);
	--clrSelectedNode: #decbe3;
	--clrVisitedNode: red;
	--clrHover: #CBD5E7;
}