:root {
	--iMargin: 5px;
	--iPadding: 5px;
	--iBorder: 2px;
	--clrPanel: #D3D3D3;
	--clrNavButton: #607D8B;	
	--clrGenericNode: rgb(204, 235, 197);
	--clrSelectedNode: #FBB4AE;
}

body {
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;
}

.Logo {
	font-size: 30px;
	color: white;
}

.GridContainer {
	display: grid;
	grid-template-areas: "GridNavBar GridNavBar" "GridDemandOrg GridSupplyOrg" "GridDemandSupplyProcess GridDemandSupplyProcess";
	grid-template-rows: auto 1fr 1fr;
	grid-template-columns: 50% 50%;
	width: 100%;
	height: 100%;
}

.GridNavBar {
	grid-area: GridNavBar;
}

.GridDemandOrg {
	grid-area: GridDemandOrg;
}

.GridDemandSupplyProcess {
	grid-area: GridDemandSupplyProcess;
}

.GridSupplyOrg {
	grid-area: GridSupplyOrg;
}

.Panel {
	margin: var(--iMargin);
	padding: var(--iPadding);
	background: white;
	border-radius: 10px;
	border: var(--iBorder) solid var(--clrPanel);
}

.GridNavContainer {
	display: grid;
	grid-template-areas: "GridLeft GridRight";
	grid-template-columns: 50% 50%;
	width: 100%;
	align-items: center;
}

.GridLeft {
	grid-area: GridLeft;
}

.GridRight {
	grid-area: GridRight;
	justify-self: end;
}

#idNavBar {
	background: var(--clrNavButton);
}


#idStats {
	display: block;
	float: left;
	position: absolute;
}

#idDemandOrg {
	display: block;
	float: left;
	position: absolute;
	z-index: 50;
	overflow: hidden;
	transition: all 0.5s;
}

#idDemandOrgNav {
	height: 16px;
	z-index: 200;
}

#idSupplyOrg {
	display: block;
	float: left;
	position: absolute;
}

Select.NavDropDown{
	-webkit-appearance: none;
	border: none;
	padding: 5px;
	color: white;
	background: var(--clrNavButton);
}

#idNavBar A, #idNavBar A:visited, #idNavBar A:hover, #idNavBar A:active{
	color: white;
	text-decoration: none;
	font-weight: bold;
}
