BODY {
	margin: 0;
	padding: 0;
}

.LeftAlign {
	margin: 0px;
	padding: 0px;
	float: left;
}

.RightAlign {
	margin: 0px;
	padding: 0px;
	float: right;
}

#FilterButton {
	position:relative;
}

#TOPBAR {
	margin: 0px;
	padding: 0px;
	height: 46px;
}

UL.main_nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

LI.main_nav {
    float: left;
}

LI.main_nav A {
    display: block;
    color: white;
    background-color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

LI.main_nav A:hover {
    background-color: #111;
}

#MAIN {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: calc(100%-48px);
	position:absolute;
	top:46px;
	bottom: 0px;	
}

#CONTENT {
	position: absolute;
	left: 30%;
	margin: 0px;
	padding: 0px;
	width: 70%;
	height: 100%;
	overflow-y: scroll;
	background: yellow;
}

#STATS {
	position: absolute;
	top: 50%;
	margin: 0px;
	padding: 0px;
	width: 30%;
	height: 50%;
	background: green;
	float: right;
}

#GLOBAL {
	position:absolute;
	margin: 0px;
	padding: 0px;
	width: 30%;
	height: 50%;
	background: white;
	z-index: 100;
	transition: all 0.5s;
}

#GLOBAL_CONTENT {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	transition: all 1s;
	float: left;
	background: purple;
}

#GLOBAL_OPS {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 24px;
	clear: both;
	background: purple;
}


.SIDE_NAV {
	float: left;
    width: 0px; 
    position: absolute;
    z-index: 200;
    top: 24px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 10px;
    transition: 0.5s;	
}

.SIDE_NAV a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.SIDE_NAV a:hover {
    color: #f1f1f1;
}

.SIDE_NAV .SIDE_NAV_CLOSE {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 18px;
}

#GlobalFilterButton {
	transition: 1s;
}
