:root {
	--iNodeWidth: 24;
	--iNodePadding: 20;
}

.ProcessNode rect {
	fill: var(--clrGenericNode);
}

.ProcessNode text {
	font-size: 10px;
}

.ProcessNode.Selected rect{
	fill: var(--clrSelectedLink);	
}

.ProcessNode.Selected text{
	fill: var(--clrSelectedLink);	
}

.ProcessNode.Main rect{
	fill: var(--clrSelectedNode);	
}

.ProcessLink {
  fill: none;
  transition: 0.5s;
}

.ProcessLink.Unique{
  stroke: var(--clrUniqueLink);	
}

.ProcessLink.FlowThrough{
  stroke: var(--clrGenericLink);	
}

.ProcessLink.Selected{
  stroke: var(--clrSelectedLink);	
}