.SupplyDupNodes {
	font-size: 10px
}

.SupplyDupNodes.Selected {
	fill: var(--clrSelectedNode)
}

.SupplyDupLinks {
	stroke: none;
	stroke-opacity: 0.5;
	fill: none;
}

.SupplyDupLinks.SupplyDupLinkShow{
	stroke: var(--clrGenericNode)
}

.SupplyDupLinks.Selected {
	stroke: var(--clrSelectedNode);
	stroke-opacity: 1;
}

.SupplyDupNavLinks {
	font-size: 10px;
	cursor: pointer;
}

.SupplyDupNavLinks.SupplyDupNavLinksSelected {
	stroke: var(--clrGenericNode)
}


#idSupplyDupFilter {
	width: 40px;
	float: left;
}

#idSupplyDupNav {
	width: 100px;
	overflow-y: auto;
	float: left;
}

#idSupplyDupContent {
	float: left;
}

#idSupplyDupRangeFilter {
	-webkit-appearance: slider-vertical;
	width: 30px;
}