.SupplyDupNodes {
	font: 10px sans-serif
}

.SupplyDupNodes.Selected {
	fill: red
}

.SupplyDupLinks {
/*
	stroke: steelblue;
*/
	stroke: none;
	stroke-opacity: 0.5;
	fill: none;
}

.SupplyDupLinks.SupplyDupLinkShow{
	stroke: steelblue
}

.SupplyDupLinks.Selected {
	stroke: red;
}

